@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* internal variables */
    --primary-foreground: #f7fafc;
    --secondary-foreground: #a6b1be;
    --background: #0b0a0b;
    --card: #020817;
    --primary: #3b82f6;
    --secondary: #2c2f33;
    --alternate: #5e9ed6;
    --success: #03740e;
    --danger: #b80000;
    --radius: 8px;

    /* shadcn/iu theme variables */
    --card-foreground: var(--primary-foreground);
    --popover: var(--background);
    --popover-foreground: var(--primary-foreground);
    --primary-foreground: var(--primary-foreground);
    --secondary-foreground: var(--primary-foreground);
    --muted: var(--secondary);
    --muted-foreground: var(--secondary-foreground);
    --accent: var(--secondary);
    --accent-foreground: var(--primary-foreground);
    --destructive: var(--danger);
    --destructive-foreground: var(--primary-foreground);
    --border: var(--secondary);
    --input: var(--secondary);
  }
}
