@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-foreground: #f7fafc;
    --secondary-foreground: #a6b1be;
    --background: #0b0a0b;
    --card: #020817;
    --primary: #3b82f6;
    --secondary: #2c2f33;
    --alternate: #5e9ed6;
    --success: #03740e;
    --danger: #b80000;
    --radius: 8px;
  }
}
